a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a{
	color: #000000;
}

table, td, th {
    border: 1px #8C001A;
}

th {
    background-color: #8C001A;
    color: white;
	padding: 15px;
}

tr:nth-child(even) {background: #F5F1DE}
tr:nth-child(odd) {background: #FFF}

table {
	//border-collapse: collapse;
	text-align: left; 
}
body{
	font: normal 12px/150% Arial, Helvetica, sans-serif;
}
